a:link{
  color: pink;
}
a:visited{
  color: green;
}
a:hover{
  text-decoration: none;
}
body {
background-color: beige;
/* Prevent the user selecting text in the example */
user-select: none;
}
h1 {
 color:darkgrey;
}
.plink {
font-size: 20px;
}
h1 {
	position: fixed;
	top: 50px;
	left: 500px;
	color: grey;
}
.projects {
	position:absolute;
	right: 10px;
	top: 20px;
	font-size: 25px;
}


#draggable {
  background: white;
}

.dropzone {
  width: 200px;
  height: 200px;
  background: blueviolet;
  margin: 10px;
  padding: 10px;
}

.dropzone.dragover {
  background-color: purple;
}